body {
    margin: 0;
    background-color: rgb(10, 5, 5);
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction:column;
}
.containerD{
    color:#fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-bottom: 50px;
}
.giris{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
img {
    max-height: 800px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 800px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Kareli bir karanlık arka plan ekleyin */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white; /* Yazı rengi */
    font-size: 45px;
}
.overlay form{
    position: absolute; /* Metnin pozisyonunu belirlemek için */
    top: 0; /* Üst kenara yasla */
    right: 10px; /* Sağ kenara yasla */
  
    /* Diğer stillendirme özellikleri */
}
.search-box {
    overflow: hidden; /* İçeriği sığdırmak için */

}

.search-button {
    border: none;
    background: none;
}

.containerB{
    width: 100%;
    height: 100vh;
    background-color: rgb(10, 5, 5);
    display: flex;
    flex-wrap: wrap; /* Paneller sığmazsa alt satıra geçmesini sağlar */
}
.block{
    width: calc(33.33% - 20px); /* Panellerin genişliği, kenar boşluklarını da hesaba katarak eşit olacak şekilde ayarlanır */
    background-color:rgb(139, 139, 139);
    padding: 20px;
    box-sizing: border-box;
    margin: 10px; /* Panel etrafında bir boşluk bırakır */
    flex-grow: 1; /* Panellerin eşit genişlikte olmasını sağlar */
    max-width: calc(33.33% - 20px);
    border-radius: 20px;
    max-height: 500px;
    margin-top: 20px;
    transition: transform 0.5s ease;
}
.block:hover{
    transform: translateY(-5px);
}
.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
header {
    background-color: rgb(10, 5, 5);
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #555;
}